

@mixin placeholder-before {
    &::-webkit-input-placeholder::before  {
        @content;
    }

    &:-moz-placeholder::before  { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder::before  {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder::before  {
        @content;
    }
}

//placeholder link icon
.placeholder-link{

    @include placeholder-before{
        font-family: 'Glyphicons Halflings';
        content: '\e144  ';
        vertical-align: middle;

    }
    
}

//add text color class for help-desk

@import "bootstrap/stylesheets/bootstrap/variables";
@import "bootstrap/stylesheets/bootstrap/mixins";


@include text-emphasis-variant('.help-block.text-primary', $brand-primary);

@include text-emphasis-variant('.help-block.text-success', $state-success-text);

@include text-emphasis-variant('.help-block.text-info', $state-info-text);

@include text-emphasis-variant('.help-block.text-warning', $state-warning-text);

@include text-emphasis-variant('.help-block.text-danger', $state-danger-text);


.btn .btn-inner-image{
    height: 18px;
}

