

.notify-list-title
	font-size: 0.85rem
	margin-bottom: 1rem 

.notify-list
	font-size: 0.85rem
	display: block
	overflow: hidden

.form-group

	input[type="text"],textarea
		width: calc(100% - 18em)
		font-size: 0.85rem



