


@import compass/css3
@import compass/utilities/general/clearfix
@import compass/typography/text/ellipsis




$notice-color: #ed1a1b
$btns-text-color: #555 !default
$btns-text-color-hover: #999 !default
$btns-font-size: 15px !default


%input-style
    border-radius: 2px
    box-shadow: 0 1px 0 rgba(252,252,252,.85),  inset 0 1px 1px rgba(0,0,0,.3), inset 0 -1px 1px rgba(0,0,0,.24),inset 0 1px 3px rgba(0,0,0,.3)
    background-color: #fbfbfb
    border: none
    padding: 4px 8px
    &.disable
        +background-image(linear-gradient(to top, #e6e6e6, #e9e9e9 51%, #ebebeb 81%, #e2e2e2))
        box-shadow: 0 1px 0 rgba(252,252,252,.35),  inset 0 1px 1px rgba(0,0,0,.15), inset 0 -1px 1px rgba(0,0,0,.1),inset 0 1px 3px rgba(0,0,0,.1)
        cursor: default
%input-style-gray
    padding: 4px 8px
    +border-radius(2px)
    background-color: rgba(210,210,210,.9)
    +box-shadow(0 0 3px rgba(252,252,252,.4), 0 1px rgba(255,255,255,.27), inset 0 2px 6px rgba(0,0,0,.15), inset 0 0 2px rgba(0,0,0,.15))
    border: solid 1px rgba(0,0,0,.3)
    +background-image(linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,.1)))

.normal-btn
    font-size: $btns-font-size
    color: $btns-text-color
    display: inline-block
    border-radius: 2px
    background-color: #d2d2d2
    +box-shadow(0 3px 4px rgba(0,0,0,.11), inset 0 1px 1px rgba(255,255,255,.1),0 1px 1px rgba(0,0,0,.4))
    +background-image(linear-gradient(to top, #ddd, #fcfcfc))
    text-decoration: none
    padding: 4px 10px
    &:hover,&.on
        color: $btns-text-color-hover
        background-color: #d2d2d2
        +box-shadow(0 1px #fff, inset 0 1px 1px rgba(0,0,0,.5), inset 0 0 5px rgba(0,0,0,.06))
        +background-image(linear-gradient(to bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)))
    &.disable
        background-color: rgba(210,210,210,0.8)
        +box-shadow(inset 0 1px 1px rgba(255,255,255,.25))
        border: solid 1px rgba(0,0,0,.15)
        color: #999
        cursor: default
        background-image: none


.normal-margin
    margin-top: 1rem
    margin-bottom: 1rem

.normal-list
    > li
        display: block
        border-bottom: solid 1px rgba(255,255,255,0.7s)
        +box-shadow(inset 0 -1px 0 #bbb)
        padding: 0.5em 1em





//reset
fieldset
    border: 0
    margin: 0
    padding: 0
textarea
    resize: none
input,textarea
    font-family: sans-serif
    &::-webkit-input-placeholder
        color: #999
    &:-moz-placeholder
        color: #999
    &::-moz-placeholder 
        color: #999
    &:-ms-input-placeholder 
        color: #999   




//form
.form-title
    display: none

.form-group

    margin-bottom: 1.5rem
    padding-left: 1.5rem
 
    &.required-field
        color: $btns-text-color
        line-height: normal
        position: relative 
        left: auto
        &::before
            content: "*"
            color: $notice-color
            position: absolute
            left: 0.65rem
    .form-label
        float: left
        width: 10rem
        display: block
        font-weight: bolder
        font-size: 0.85rem
    .form-elements
        margin-left: 11rem
        display: block
    .notice
        position: absolute
        font-size: 0.8rem
        width: 13rem
        top: 0
        right: 0
    textarea
        min-height: 5rem
        

    input[type="text"],textarea
        @extend %input-style

    input[type="radio"]
        display: none
        //margin-bottom: 1rem
        & + label
            margin-right: 1.5rem

    .radio-btn
        display: inline-block
        margin-bottom: 0.5rem
        cursor: pointer
        
    .radio-btn:before
        +box-sizing(border-box)
        display: inline-block
        width: 0.8rem
        height: 0.8rem
        border: 0.19rem solid #f9f9f9
        background-color: #f9f9f9
        box-shadow: 0 1px 1px rgba(0,0,0,0.6)
        margin-right: 0.5rem
        border-radius: 100%
        content: ""

        input[type="radio"]:checked + .radio-btn
            color: #fff
            font-weight: bold
            
    input[type="radio"]:checked + .radio-btn:before
        background-color: #333  
    input[type="radio"].on + .radio-btn:before
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.6),0 0 1rem rgba(255,255,255,0.7),0 0 0.5rem rgba(255,255,255,0.9) 
        border-color: #fff
    .radio-btn.disable
        color: #999
        cursor: default
        &:before
            background-color: #e9e9e9 !important
            border: 0.19rem solid #e9e9e9
            box-shadow: 0 1px 1px rgba(0,0,0,0.2)

.form-submit-wrap
    text-align: right
    .normal-btn
        margin-left: 1rem
        min-width: 4rem
        text-align: center



.tooltip-wrap
    display: none
    font-size: 13px
    position: absolute
    +border-radius(3px)
    background-color: #d2d2d2
    +box-shadow(0 3px 4px rgba(0,0,0,.11))
    +background-image(linear-gradient(to top, #ddd, #fcfcfc))
    padding: 10px
    &:after
        content: ''        
        display: block        
        position: absolute
        width: 0
        height: 0
        bottom: 12px
        left: -7px
        border-top: 10px solid transparent
        border-right: 8px solid #ededed
        border-bottom: 8px solid transparent
        // -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5))
        // -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5))
        // -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5))
        // -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.5))
        // filter: drop-shadow(0 1px 2px rgba(0,0,0,.5))

    .tooltip-content-list
        background-image: none
        li
            margin-bottom: 0.5rem
            white-space: nowrap
            &:last-child
                margin-bottom: 0 
    .input-gray
        @extend %input-style-gray
        height: auto
    &.show-top
        bottom: calc(100% + 10px)
        right: 0
        left: auto
        &:after
            bottom: -16px
            left: auto
            right: 15px
            border-top: 8px solid #e3e3e3
            border-right: 8px solid transparent 
            border-left: 8px solid transparent


.icon-question
    background: transparent url('../images/icon_question.png') no-repeat 0 0
    width: 16px
    height: 16px
    display: inline-block
    &.is-with-tooltip
        position: relative
        .tooltip-wrap
            white-space: nowrap
            left: 28px
            top: -16px
        &:hover
            > .tooltip-wrap
                display: block
.nav-tabs

    //clear: both
    +clearfix
    position: relative
    padding-bottom: 20px
    &:after
        content: ''
        display: block
        position: absolute
        background-color: #e2e2e2
        border: 1px solid #999
        height: 10px
        width: 100%
        bottom: 10px
        box-sizing: border-box
        z-index: -1
        +box-shadow(0px 3px 10px rgba(0, 0, 0, 0.15))


    .tab-item
        float: left
        margin-bottom: -1px
        a
            text-decoration: none
            color: $btns-text-color
            //margin-right: 2px
            line-height: 1.2
            border: 1px solid #999
            border-radius: 4px 4px 0 0
            position: relative
            display: block
            padding: 8px 25px
            background-color: #fff
            &:hover
                color: $btns-text-color-hover
        &.on
            a
                background-color: #e2e2e2
                border-bottom: 1px solid #e2e2e2
                cursor: default 
                &:hover
                    color: $btns-text-color
.func-btns

    .del
        display: block
        width: 22px
        height: 24px
        margin: 2px 0 0
        background: url(../images/btn_func.png) no-repeat
        text-decoration: none
        text-indent: -100000px
        background-position: 0 -97px
        &:hover
            background-position: -23px -97px

.btn-item
    display: inline-block