@import compass/css3

=centerXY
    top: 50%
    left: 50%
    +transform(translate(-50%,-50%))


#portal-constrain
    top: 220px
#portal-list
    position: static
    .channel-list
        padding-top: 40px
#store-layer
    position: static

#input-portal-ch
    width: calc(100% - 250px)
    float: left
    position: relative
    margin-top: -4px
    &+.normal-btn
        margin-left: 8px

.banner-wrap
    position: relative
    width: 45%
    padding-right: 3%
    margin-right: 2%
    float: left
    max-width: 500px
    padding: 4px
    //background-color: #fff
    cursor: pointer 
    .thumbnail
        width: 100%
        height: 143px
        margin-bottom: 8px
.banner-text
    padding: 5px
.thumb-wrap
    border: 4px solid #fff
    position: relative
    background-color: rgba(173,173,173,.8)
    +background-image(linear-gradient(to bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)))
    min-height: 150px
    img
        width: 100%
.thumb-inner-text
    font-size: 18px
    position: absolute
    +centerXY
.thumb-hover-wrap
    position: absolute
    bottom: 0
    width: calc(100% - 14px)
    height: 40px
    margin-bottom: 5px
    line-height: 40px
    color: transparent
    background: transparent url('../images/baenner-upload.gif') no-repeat 8px 8px
    transition: all 0.5s ease
    .banner-wrap:hover &
        background-color: rgba(0,0,0,0.6)
        color: #fff

.thumb-inner-warning
    position: absolute
    color: red
    top: 70%
    left: 50%
    width: 90%
    +transform(translate(-50%,-50%))



// for item list
.itemList,.list-holder
    .badge
        position: absolute
        z-index: 10
        bottom: 7px
        left: 7px
        display: inline-block
        min-width: 10px
        padding: 3px 7px
        font-size: 12px
        font-weight: 700
        line-height: 1
        color: #fff
        text-align: center
        white-space: nowrap
        vertical-align: baseline
        background-color: #777
        border-radius: 5px
        &.danger
            background-color: #ef4913
    .cover-text
        position: absolute
        z-index: 20
        top: 0
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(0,0,0,0.5)
        color: #fff
        font-size: 15px
        .inner-text
            position: absolute
            top: 50%
            left: 50%
            +transform(translate3d(-50%,-50%,0))


