@import "compass/css3";

@import "cmsfont";

//reset modal-dialog
.modal.fade .modal-dialog.modal-center{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform3d(translate3d(-50%,-50%,0));
}

//reset theme
$default-link-color: #777;
$default-link-hover-color: #333;

a{
  color: $default-link-color;
  text-decoration: none;

  &:hover{
    color: $default-link-hover-color;
  }
}


body{
  background-color: #EEE;
}
.cms-nav {
  background-color: #fff;
}


.nav-sidebar [class^="icon-"]:before{
  font-size: 1.2em;
  padding-right: 1.2em;
}

.thumbnail img{
  width: 100%;
}

.btn-thumbnail{
  position: absolute;
  bottom: 240px;
  left: 25px;
}

///for all pages
$images-base: "../";



//set textarea border-radius
textarea{
  border-radius: 4px;
}



.nav-left{
  float: left;
  padding: 0 12px;
}

.cms-nav.jumbotron{

  padding-top: 68px;
  padding-bottom: 20px;
  text-align: center;


}

.main-logo{
  background: url(#{$images-base}images/logo.png) 0 50% no-repeat;
  cursor: pointer;
}
.app-thumbnail{
  width: 110px;
  height: 110px;
}

.cms-icon {
  display: inline-block;
  background: transparent url(#{$images-base}images/icon_studio.png) no-repeat 0 0;
  height: 23px;
  padding: 0 0 0 28px;
  font-size: 22px;
  color: #555;
  font-weight: bold;
}

.sub-title {
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
}

@mixin centerX{
    left: 50%;
    @include transform(translateX(-50%));
  }
@mixin centerY{
    top: 50%;
    @include transform(translateY(-50%));
  }
@mixin centerXY{
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }

.empty-add{
  cursor: pointer;
  position: relative;
  border: 1px dashed #dddddd;
  border-radius: 4px;
  .empty-add-text{

    position: absolute;
    white-space: nowrap;
    @include centerXY;


  }
}

//for pcs-landing page

//for footer
footer.navbar{
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 20px;
}


.affix{
  top:80px;
}

.thumbnail.empty-add{

  height: 26.2em

}
.form-group .empty-add {
  min-height: 2.3em;
  background-color: #fff;
}

