/* line 3, ../sass/cms-notification.sass */
.notify-list-title {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

/* line 7, ../sass/cms-notification.sass */
.notify-list {
  font-size: 0.85rem;
  display: block;
  overflow: hidden;
}
/* line 13, ../sass/cms-notification.sass */
.notify-list .func-btns {
  float: right;
  margin-top: -22px;
  position: relative;
  z-index: 20;
}
/* line 18, ../sass/cms-notification.sass */
.notify-list .notice {
  color: red;
  float: right;
  margin-top: -15px;
  margin-right: 8px;
}
/* line 23, ../sass/cms-notification.sass */
.notify-list > li {
  cursor: pointer;
}
/* line 25, ../sass/cms-notification.sass */
.notify-list > li:hover {
  font-weight: bold;
}
/* line 28, ../sass/cms-notification.sass */
.notify-list > li.disable {
  cursor: default;
  color: #999;
}
/* line 31, ../sass/cms-notification.sass */
.notify-list > li.disable:hover {
  font-weight: normal;
}

/* line 38, ../sass/cms-notification.sass */
.notify-content {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

/* line 46, ../sass/cms-notification.sass */
.form-group input[type="text"], .form-group textarea {
  width: calc(100% - 18em);
  font-size: 0.85rem;
}

/* line 50, ../sass/cms-notification.sass */
.normal-btn + .icon-question {
  line-height: 25px;
  vertical-align: middle;
  margin-left: 5px;
}

/* line 56, ../sass/cms-notification.sass */
.notify-list.notify-history > li {
  cursor: default;
}
/* line 58, ../sass/cms-notification.sass */
.notify-list.notify-history > li:hover {
  font-weight: normal;
}

/* line 62, ../sass/cms-notification.sass */
.notify-intro-image {
  display: none;
}

/* line 64, ../sass/cms-notification.sass */
.notify-list-wrap {
  display: none;
}
