/* line 3, ../sass/cms-notification.sass */
.notify-list-title {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

/* line 7, ../sass/cms-notification.sass */
.notify-list {
  font-size: 0.85rem;
  display: block;
  overflow: hidden;
}
/* line 12, ../sass/cms-notification.sass */
.notify-list .func-btns {
  float: right;
  margin-top: -22px;
  position: relative;
  z-index: 20;
}
/* line 17, ../sass/cms-notification.sass */
.notify-list .notice {
  color: red;
  float: right;
  margin-top: -15px;
  margin-right: 8px;
}
/* line 23, ../sass/cms-notification.sass */
.notify-list > li.disable {
  color: #999999;
}
/* line 25, ../sass/cms-notification.sass */
.notify-list > li.disable .del {
  background-position: -46px -97px;
  cursor: default;
}

/* line 29, ../sass/cms-notification.sass */
.notify-content {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

/* line 37, ../sass/cms-notification.sass */
.form-group input[type="text"], .form-group textarea {
  width: calc(100% - 18em);
  font-size: 0.85rem;
}

/* line 41, ../sass/cms-notification.sass */
.normal-btn + .icon-question {
  line-height: 25px;
  vertical-align: middle;
  margin-left: 5px;
}

/* line 49, ../sass/cms-notification.sass */
.notify-intro-image {
  display: none;
}

/* line 51, ../sass/cms-notification.sass */
.notify-list-wrap {
  display: none;
}
