/* line 3, ../sass/cms-notification.sass */
.notify-list-title {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

/* line 7, ../sass/cms-notification.sass */
.notify-list {
  font-size: 0.85rem;
  display: block;
  overflow: hidden;
}

/* line 11, ../sass/cms-notification.sass */
.notify-content {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

/* line 18, ../sass/cms-notification.sass */
.form-group input[type="text"], .form-group textarea {
  width: calc(100% - 18em);
  font-size: 0.85rem;
}
