/* line 15, ../sass/cms-component.sass */
.form-group input[type="text"], .form-group textarea {
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(252, 252, 252, 0.85), inset 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.24), inset 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #fbfbfb;
  border: none;
  padding: 4px 8px;
}
/* line 21, ../sass/cms-component.sass */
.form-group input.disable[type="text"], .form-group textarea.disable {
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #e6e6e6), color-stop(51%, #e9e9e9), color-stop(81%, #ebebeb), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(to top, #e6e6e6, #e9e9e9 51%, #ebebeb 81%, #e2e2e2);
  background-image: -moz-linear-gradient(to top, #e6e6e6, #e9e9e9 51%, #ebebeb 81%, #e2e2e2);
  background-image: -o-linear-gradient(to top, #e6e6e6, #e9e9e9 51%, #ebebeb 81%, #e2e2e2);
  background-image: linear-gradient(to top, #e6e6e6, #e9e9e9 51%, #ebebeb 81%, #e2e2e2);
  box-shadow: 0 1px 0 rgba(252, 252, 252, 0.35), inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: default;
}

/* line 25, ../sass/cms-component.sass */
.tooltip-wrap .input-gray {
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(210, 210, 210, 0.9);
  -webkit-box-shadow: 0 0 3px rgba(252, 252, 252, 0.4), 0 1px rgba(255, 255, 255, 0.27), inset 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(252, 252, 252, 0.4), 0 1px rgba(255, 255, 255, 0.27), inset 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(252, 252, 252, 0.4), 0 1px rgba(255, 255, 255, 0.27), inset 0 2px 6px rgba(0, 0, 0, 0.15), inset 0 0 2px rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

/* line 33, ../sass/cms-component.sass */
.normal-btn {
  font-size: 15px;
  color: #555555;
  display: inline-block;
  border-radius: 2px;
  background-color: #d2d2d2;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11), inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11), inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11), inset 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #dddddd), color-stop(100%, #fcfcfc));
  background-image: -webkit-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: -moz-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: -o-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: linear-gradient(to top, #dddddd, #fcfcfc);
  text-decoration: none;
  padding: 4px 10px;
}
/* line 43, ../sass/cms-component.sass */
.normal-btn:hover, .normal-btn.on {
  color: #999999;
  background-color: #d2d2d2;
  -webkit-box-shadow: 0 1px white, inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 1px white, inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px white, inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.06);
  background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
/* line 48, ../sass/cms-component.sass */
.normal-btn.disable {
  background-color: rgba(210, 210, 210, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: #999999;
  cursor: default;
  background-image: none;
}

/* line 57, ../sass/cms-component.sass */
.normal-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 62, ../sass/cms-component.sass */
.normal-list > li {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 -1px 0 #bbbbbb;
  -moz-box-shadow: inset 0 -1px 0 #bbbbbb;
  box-shadow: inset 0 -1px 0 #bbbbbb;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* line 73, ../sass/cms-component.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 77, ../sass/cms-component.sass */
textarea {
  resize: none;
}

/* line 79, ../sass/cms-component.sass */
input, textarea {
  font-family: sans-serif;
}
/* line 81, ../sass/cms-component.sass */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}
/* line 83, ../sass/cms-component.sass */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #999999;
}
/* line 85, ../sass/cms-component.sass */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999999;
}
/* line 87, ../sass/cms-component.sass */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #999999;
}

/* line 94, ../sass/cms-component.sass */
.form-title {
  display: none;
}

/* line 97, ../sass/cms-component.sass */
.form-group {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
/* line 102, ../sass/cms-component.sass */
.form-group.required-field {
  color: #555555;
  line-height: normal;
  position: relative;
  left: auto;
}
/* line 107, ../sass/cms-component.sass */
.form-group.required-field::before {
  content: "*";
  color: #ed1a1b;
  position: absolute;
  left: 0.65rem;
}
/* line 112, ../sass/cms-component.sass */
.form-group .form-label {
  float: left;
  width: 10rem;
  display: block;
  font-weight: bolder;
  font-size: 0.85rem;
}
/* line 118, ../sass/cms-component.sass */
.form-group .form-elements {
  margin-left: 11rem;
  display: block;
}
/* line 121, ../sass/cms-component.sass */
.form-group .notice {
  position: absolute;
  font-size: 0.8rem;
  width: 13rem;
  top: 0;
  right: 0;
}
/* line 127, ../sass/cms-component.sass */
.form-group textarea {
  min-height: 5rem;
}
/* line 134, ../sass/cms-component.sass */
.form-group input[type="radio"] {
  display: none;
}
/* line 137, ../sass/cms-component.sass */
.form-group input[type="radio"] + label {
  margin-right: 1.5rem;
}
/* line 140, ../sass/cms-component.sass */
.form-group .radio-btn {
  display: inline-block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
/* line 145, ../sass/cms-component.sass */
.form-group .radio-btn:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.19rem solid #f9f9f9;
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  margin-right: 0.5rem;
  border-radius: 100%;
  content: "";
}
/* line 157, ../sass/cms-component.sass */
.form-group .radio-btn:before input[type="radio"]:checked + .radio-btn {
  color: white;
  font-weight: bold;
}
/* line 161, ../sass/cms-component.sass */
.form-group input[type="radio"]:checked + .radio-btn:before {
  background-color: #333333;
}
/* line 163, ../sass/cms-component.sass */
.form-group input[type="radio"].on + .radio-btn:before {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.6), 0 0 1rem rgba(255, 255, 255, 0.7), 0 0 0.5rem rgba(255, 255, 255, 0.9);
  border-color: white;
}
/* line 166, ../sass/cms-component.sass */
.form-group .radio-btn.disable {
  color: #999999;
  cursor: default;
}
/* line 169, ../sass/cms-component.sass */
.form-group .radio-btn.disable:before {
  background-color: #e9e9e9 !important;
  border: 0.19rem solid #e9e9e9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 174, ../sass/cms-component.sass */
.form-submit-wrap {
  text-align: right;
}
/* line 176, ../sass/cms-component.sass */
.form-submit-wrap .normal-btn {
  margin-left: 1rem;
  min-width: 4rem;
  text-align: center;
}

/* line 183, ../sass/cms-component.sass */
.tooltip-wrap {
  display: none;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #d2d2d2;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
  background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #dddddd), color-stop(100%, #fcfcfc));
  background-image: -webkit-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: -moz-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: -o-linear-gradient(to top, #dddddd, #fcfcfc);
  background-image: linear-gradient(to top, #dddddd, #fcfcfc);
  padding: 10px;
}
/* line 191, ../sass/cms-component.sass */
.tooltip-wrap:after {
  content: "";
  bottom: 12px;
  display: block;
  left: -7px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 8px solid #ededed;
  border-bottom: 8px solid transparent;
}
/* line 208, ../sass/cms-component.sass */
.tooltip-wrap .tooltip-content-list {
  background-image: none;
}
/* line 210, ../sass/cms-component.sass */
.tooltip-wrap .tooltip-content-list li {
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
/* line 213, ../sass/cms-component.sass */
.tooltip-wrap .tooltip-content-list li:last-child {
  margin-bottom: 0;
}
/* line 215, ../sass/cms-component.sass */
.tooltip-wrap .input-gray {
  height: auto;
}
